:root {
    --textcolor: #212121;
    --secondarycolor: #757575;
    --button-color: #F5F4FA;
    --maincolor: #2196F3;
    --bgcolor: #ffffff;
  }

header {

}

body {
    font-family: Roboto, sans-serif;
    color: var(--textcolor);
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--bgcolor);

}

.web-studio-logo {
    color: var(--textcolor);
    font-size: 26px;
    font-weight: 700;
}

.web-studio-logo:hover {
    color: var(--textcolor);
}


p {
    font-family: Roboto;
}

.portfolio_color {
    color: var(--maincolor);
}

.studio_color {
    color: var(--maincolor);
}

ul {
    list-style-type: none;
}

nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    color: var(--textcolor);
}


a {
    color: var(--textcolor);
    text-decoration: none;
}

a:focus {
    color: var(--maincolor);
}

a:hover {
    color: var(--maincolor);
}

/* <!-- <h2>Детлі</h2> --> */
.details {
    background-color: var(--bgcolor);
}
button {
    font-weight: 500;
    font-size: 16px;
    background-color: var(--button-color);
    color: var(--textcolor);
    border-width: 0px;
    border-style:none;
    border-color: buttonborder;
    cursor: pointer;
}

button:focus {
    background-color: var(--maincolor);
    color: var(--bgcolor);
}

button:hover {
    background-color: var(--maincolor);
    color: var(--bgcolor);
}

.btn-studio {
    width: 216px;
    height: 50px;
    background-color: var(--maincolor);
    color: var(--bgcolor);
}

h1 {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--bgcolor);
}

h3 {
    font-weight: 700;
    font-size: 16px;
    /* text-transform: uppercase; */
    color: var(--textcolor);
}

.position {
    font-size: 16px;
    line-height: 19px;
    color: var(--secondarycolor);
}

.details-items-body {
    font-family: Roboto;
    font-size: 14px;
    line-height: 2;
    color: var(--secondarycolor);
}

/* section Наша команда */
h2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.example-work {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.06em;
}

.example-descr {
    font-size: 16px;
    line-height: 30px;
    color: var(--secondarycolor);
}

h4 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.details-descr {
    line-height: 24px;
    color: var(--secondarycolor);
}

.jobtitle {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.19;
}

/* section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--secondarycolor);
} */





/* .portfolio {
    
}
h5 {
    font-family: 'Roboto';
} */
