:root {
    --textcolor: #212121;
    --secondarycolor: #757575;
    --button-color: #F5F4FA;
    --maincolor: #2196F3;
    --bgcolor: #ffffff;
    --transp-white: #ffffffae;
  }

body {
    font-family: Roboto, sans-serif;
    color: var(--textcolor);
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--bgcolor);

}

.web-studio-logo {
    font-family: Raleway;
    color: var(--textcolor);
    font-size: 26px;
    font-weight: 700;
}

.web-studio-logo:hover {
    color: var(--textcolor);
}

.web-studio-logo:focus {
    color: var(--textcolor);
}

.mail {
    font-weight: 500;
    color: var(--secondarycolor);
}

.tel {
    font-weight: 500;
    color: var(--secondarycolor);
}

.tel .mail :hover {
    color: var(--maincolor);
}

.tel .mail :focus {
    color: var(--maincolor);
}


.portfolio_color {
    color: var(--maincolor);
}

.studio_color {
    color: var(--maincolor);
}

ul {
    list-style-type: none;
}

.list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    color: var(--textcolor);
}


a {
    color: var(--textcolor);
    text-decoration: none;
}

a:focus {
    color: var(--maincolor);
}

a:hover {
    color: var(--maincolor);
}


.btn-portfolio {
    font-family: 'Roboto';
    line-height: 26px;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 16px;
    background-color: var(--button-color);
    color: var(--textcolor);
    border-width: 0px;
    border-style:none;
    border-color: buttonborder;
    cursor: pointer;
}

.btn-portfolio:focus {
    background-color: var(--maincolor);
    color: var(--bgcolor);
}

.btn-portfolio:hover {
    background-color: var(--maincolor);
    color: var(--bgcolor);
}

.btn-studio {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    font-family: 'Roboto';
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1,9;
    width: 216px;
    height: 50px;
    background-color: var(--maincolor);
    color: var(--bgcolor);
    border-color: buttonborder;
    border-width: 0px;
    border-style: none;
}

.btn-studio:focus {
    background-color: var(--secondarycolor);
    color: var(--bgcolor);
}

.btn-studio:hover {
    background-color: var(--secondarycolor);
    color: var(--bgcolor);
}

.studio-title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--bgcolor);
}


.details {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--textcolor);
}

.details-items-body {
    font-family: Roboto;
    font-size: 14px;
    line-height: 2;
    color: var(--secondarycolor);
}

.name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    color: var(--textcolor);
}

.position {
    font-size: 16px;
    line-height: 1,19;
    color: var(--secondarycolor);
}

/* section Наша команда */
.teams-jobs {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--textcolor);
}

.example-work {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.06em;
}

.example-descr {
    font-size: 16px;
    line-height: 1,9px;
    color: var(--secondarycolor);
}

.details-descr {
    line-height: 24px;
    color: var(--secondarycolor);
}

.jobtitle {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.19;
}

.footer-info-color {
    color: var(--transp-white);
}

/* section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--secondarycolor);
} */





/* .portfolio {
    
}
h5 {
    font-family: 'Roboto';
} */
